* {
    font-size: 12px;
    font-family: Tahoma, Arial, Helvetica, simsun, sans-serif;
}
.hezuo{
    width: 1000px;
    height: 220px;
    margin: 0 auto;
}
div.line{padding: 0;border: 0;height: 220px;float: left}
div.line:first-child{width: 680px}
div.line:nth-child(2){width: 320px}

[class*="col-"]{
    margin: 0 -2px;
}
.bp{
    margin: 26px 0;
    font-size: 15px;
    color: #999;
    line-height: 15px;
}
@media (min-width: 1200px) {
    .container{
        max-width: 100%;
    }
}
.line img{
	margin-bottom: 20px;
	margin-right: 10px;
}
.img-responsive {
  display: inline-block;
  height: auto;
  max-width: 80px;
}
.dif {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.jlb {
	display: inline-block;
	height: auto;
	max-width: 60px;
	margin-bottom: 10px;
	margin-right: 20px;
}
.dif1 {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.bottom-text{
	font-size: 17px;
	color:red;
	height: 80px;
	
}
.bottom-text b{
    display:flex;
    justify-content:center;
    align-items:center;
	color: #fff;
    padding-top: 30px;
}