/*规则奖励*/
.rule{
    width: 1000px;
    margin:0 auto;
    height: 1200px;
}
.rulepic{
    text-align: center;
    width: 100%;
}

.rulepic img{
    margin-top:30px;
    margin-bottom:20px;
}
.rulebox{
    background-color: #1b1b1b;
    width: 100%;
    color: white;
    margin-bottom: 80px;
}


.rulebox ul{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
}
.rulebox li{
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.rulebox li>div{
    position: absolute;
    height: 100%;
    margin-top: 5px;
}
.xuhao{
    width: 18px;
    height: 18px;
    border-radius: 22%;
    background:-webkit-linear-gradient(top,#5f0000,#2b0000);
    color: white;
    text-align: center;
}

.rulebigllist{
    margin-left: 30px;
    line-height: 26px;
}

.rulesmalllist{
    margin-left: 60px;
    line-height: 26px;
}


.rulebox hr{
    height: 0.2px;
    width: 890px;
    background-color: #fec45d;
    border-radius: 10%;
}
.zxkefu{
    color: #fec45d;
}



/*关于奖励*/
.awardebigllist{
    margin-left: 14px;
    line-height: 28px;
    font-size: 16px;
    color: #fec45d;
}

.awardsmalllist{
    margin-left: 10px;
    line-height: 20px;
    margin-top: 10px;
}

.awardxuhao{
    width: 7px;
    height: 20px;
    background:-webkit-linear-gradient(top,#5f0000,#2b0000);
    color: white;
    text-align: center;
}
.awardtable{
    width: 900px;
    border: 1px #626262 solid;
    margin-left: 10px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}
.awardtable tr{
    border: 1px #626262 solid;
}
.awardtable td{
    border: 1px #626262 solid;
    height: 36px;
}
.tablefirstr{
    background-color:#000000 ;
}
.awardsmalllist a{
    color:#fec45d ;

}


/*常见问题*/

/*左边*/

.test{
    height: 34px;
    line-height: 34px;
    background:-webkit-linear-gradient(bottom,#5f0000,#2b0000);
    text-align: center;
    margin-bottom: 5px;
    border-radius: 1px;
    color: white;
}

#propblemleftlist{
    width: 200px;
    float: left;

}

.pbliftli{
    height: 34px;
    line-height: 34px;
    background:-webkit-linear-gradient(bottom,#000000,#525252);
    text-align: center;
    margin-bottom: 5px;
    border-radius: 1px;
    color: white;
}

/*右边*/

.pbr{
    float: right;
    width: 780px;
    background-color: #2B2A2F;
    color: white;
    height: 1000px;
}


.pbr ul li{

margin-bottom: 3px;
}

.pbrtitle{
    background-color: #1B1B1B;
    height: 35px;
    width: 780px;
}
.pbrtitle1{
    height: 35px;
}

.pbrfirstxunhao,.pbrxunhao{
    position: absolute;
    margin-left: 15px;
}

.pbrtitle{
    cursor: pointer ;
}
.pbrfirstxunhao{
    width: 7px;
    height: 20px;
    background:-webkit-linear-gradient(top,#5f0000,#2b0000);
    color: white;
    text-align: center;
    margin-top: 5px;
}

.pbrxunhao{
    width: 18px;
    height: 18px;
    border-radius: 22%;
    background:-webkit-linear-gradient(top,#5f0000,#2b0000);
    color: white;
    text-align: center;
    margin-top: 8px;
}


.pbrtitle span{
    margin-left: 40px;
    line-height: 30px;
}


.pbr ul li p{
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2B2A2F;
    line-height: 20px;
    width: 780px;

}

.pbrfirstitle{
    color: #fec45d;
    font-size: 18px;
}


/*分割线*/

.prohr{
    color:#fec45d ;
    width: 740px;
    background-color: #fec45d;
    margin-left: 20px;
}

.prokf{
    margin-left: 20px;
}

.prokf a{
    color:#fec45d;
}

.pbrbox{
    position: absolute;
    margin-top: 20px;
    background-color: #2B2A2F;
    height: 960px;
}
.pbr ul{
    background-color: #2B2A2F;
}
.pbrbox{
    z-index: 1;
}

.activite{

}
.bottomline {
    position: absolute;
    bottom: 0;
    text-align: center;
}
/*常见疑问页码*/
.pbrbox-yema{
    height: 40px;
    width: 780px;
    text-align: center;
    position: absolute;
    bottom: 60px;
}
.pbrbox-yema ul{
    margin: 0 auto;
    width: auto;
    height: 40px;
    display: table;
    text-align: center;
}
.pbrbox-yema li{
    width: 40px;
    height: 40px;
    line-height: 40px;
    float: left;
    cursor: pointer;
    background: url("../picture/yema.png");
}
.pbrbox-yema li{
    color: #a0a0a0;
}
.pbrbox-yema li:hover{
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #1b1b1b;
    float: left;
    cursor: pointer;
    background: url("../picture/focus.png");
}
.pbrbox-yema > ul > li:first-child{
    margin-right: 10px;
}
.pbrbox-yema li+li{
    margin-right: 10px;
}

/**/

.jifenbox{
    width: 100%;
    color: white;
}
.jifentable{
    width: 1000px;
    text-align: center;
    border-radius: 3%;
    margin-bottom: 150px;
    margin-top: 40px;

}

.jifentable th{
    background:-webkit-linear-gradient(bottom,#5f0000,#2b0000);
    height: 59px;
    line-height: 59px;
}

.jifentable td{
    height: 59px;
    line-height: 59px;
    background-color: #353239;

}
.jifentable tr{
    border-bottom: 2px solid #524532;
}

.paiminglist{
    background: url(../images/background.png) no-repeat;
    width: 181px;

}

.jfspan1{
    color:#fec45d ;
    font-size: 18px;
}
.jfspan2{
    color: white;
    font-size: 18px;
    margin-left: 15px;
}