/******************************************VIP俱乐部专属特权*******************************************/
.bmw-welfare ul{
    margin-bottom: 50px;
}
.bmw-welfare-3{
    display: inline-block;
}
.bmw-welfare-3 li{
    width: 317px;
    height: 268px;
    border: 1px solid #626262;
    float: left;
}
.bmw-welfare-3 li:nth-child(2),.bmw-welfare-3 li:nth-child(3){
    margin-left: 24px;
}
.bmw-welfare-3 div{
    position: absolute;
}
.bmw-welfare-3 p{
    color: #d8d8d8;
    width: 315px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    bottom: 49px;
    background-color: rgba(160,160,160,0.4);
}
.bmw-welfare-4{
    display: inline-block;
}
.bmw-welfare-4 li{
    width: 236px;
    height: 200px;
    border: 1px solid #626262;
    float: left;
}
.bmw-welfare-4 li:nth-child(2),.bmw-welfare-4 li:nth-child(3),.bmw-welfare-4 li:nth-child(4){
    margin-left: 18px;
}
.bmw-welfare-4 p{
    color: #d8d8d8;
    width: 234px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    bottom: 49px;
    background-color: rgba(160,160,160,0.4);
}

/*vip晋级要求*/
.bmw-require > p,.bmw-welfare > p,.bmw-rules > p{
    height: 35px;
    line-height: 35px;
    color: #d8d8d8;
    font-size: 22px;
    font-weight: bold;
    padding-left: 25px;
    background: url("../picture/ct_icon.png") no-repeat 5px;
    border-bottom: 1px solid #ffc45d;
}
.bmw-require > div,.bmw-welfare > div{
    margin: 30px auto;
}
.bmw-require table,.bmw-welfare table{
    height: 595px;
    border-collapse: collapse;
}
.bmw-require table td,.bmw-welfare table td{
    font-size: 15px;
    text-align: center;
    border-top: 0;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    border-left: 0;
}
.bmw-require tr td:first-child{
    vertical-align: bottom;
    padding-bottom: 5px;
}
.bmw-require tr:first-child td:first-child{
    vertical-align: middle;
}
.bmw-require table tr:last-child td {
    border-bottom: 0;
}
.bmw-require table tr td:last-child {
    width: 875px;
    color: #626262;
    border-right: 0;
    background:-webkit-linear-gradient(top,#d8d8d8,#ffffff);
}
.bmw-require table tr td:first-child{
    position: relative;
    width: 125px;
    color: #d8d8d8;
    background:-webkit-linear-gradient(top,#45414e,#232323);
}
.bmw-require table tr td:first-child img{
    position: absolute;
    top: 10px;
    right: 34px;
}

.bmw-require table tr:first-child td{
    background:-webkit-linear-gradient(top,#2b0000,#5f0000);
}

.bmw-require table tr:first-child td:last-child{
    width: 875px;
    color: #d8d8d8;
}
/*VIP享受福利*/
.bmw-welfare table td{
    width: 125px;
    height: 85px;
    background:-webkit-linear-gradient(top,#d8d8d8,#ffffff);
    color: #626262;
}
.bmw-welfare table tr:first-child td{
    background:-webkit-linear-gradient(top,#2b0000,#5f0000);
    color: #d8d8d8;
}
/*晋级规则*/
.bmw-rules ol{
    padding-left: 20px;
}
.bmw-rules ol li{
    color: #d3d3d3;
    margin-bottom: 5px;
}
.welfare-b table tr:first-child td:not(:first-child){
    position: relative;
    vertical-align: bottom;
}
.welfare-b table tr:first-child td:not(:first-child) img{
    position: absolute;
    top: 10px;
    right: 34px;
}