.bmw-special{
    margin-bottom: 50px;
}
.bmw-special-title{
    background-color: rgba(43,0,0,0.8);
    height: 62px;
    vertical-align: middle;
}
.bmw-special-title p{
    display: inline-block;
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 45px;
    vertical-align: middle;
}
.bmw-special-title img{
    margin-right: 10px;
    margin-top: 6px;
}
.bmw-special ul{
    margin: 0 auto;
    height: 237px;
    margin-top: 20px;
    text-align: center;
}
.bmw-special ul li{
    position: relative;
    width: 166px;
    height: 237px;
    float: left;
    background-color: #FAF4E6;
    opacity: 0.9;
    display:-webkit-box;
    -webkit-box-pack:center;
}
.bmw-special ul li:hover{
    opacity: 1;
}
.bmw-special ul li div:first-child{
    position: absolute;
    width: 166px;
    height: 91px;
    top: 30px;
}
.bmw-special ul li:first-child div:first-child img{
    position: absolute;
    top: 35px;
    right: 40px;
    vertical-align: middle;
}
.bmw-special ul li:not(:first-child) div:first-child img{
    position: absolute;
    top: 20px;
    right: 40px;
    vertical-align: middle;
}
.bmw-special ul li:nth-child(5) div:first-child img{
    position: absolute;
    top: 5px;
    right: 40px;
    vertical-align: middle;
}
.bmw-special ul li div:nth-child(3){
    position: relative;
    bottom: -157px;
    display: inline-block
}
.bmw-special ul li div p:first-child{
    font-size: 16px;
    color: #706753;
    font-weight: bold;
}
.bmw-special ul li div p:last-child{
    font-size: 10px;
    color: #706753;
    font-weight: bold;
}
.bmw-special ul li img:nth-child(2){
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}
/*vip晋级要求*/
.bmw-require > p,.bmw-welfare > p,.bmw-rules > p{
    height: 35px;
    line-height: 35px;
    color: #d8d8d8;
    font-size: 22px;
    font-weight: bold;
    padding-left: 25px;
    background: url("../picture/ct_icon.png") no-repeat 5px;
    border-bottom: 1px solid #ffc45d;
}
.bmw-require > div,.bmw-welfare > div{
    margin: 30px auto;
}
.bmw-require table,.bmw-welfare table{
    height: 595px;
    border-collapse: collapse;
    word-wrap: break-word; word-break: break-all;
}
.bmw-require table td,.bmw-welfare table td{
    font-size: 15px;
    text-align: center;
    border-top: 0;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    border-left: 0;
}
.bmw-require tr td:first-child{
    vertical-align: bottom;
    padding-bottom: 5px;
}
.bmw-require tr:first-child td:first-child{
    vertical-align: middle;
}
.bmw-require table tr:last-child td {
    border-bottom: 0;
}
.bmw-require table tr td:nth-child(2) {
    width: 70%;
    color: #626262;
    border-right: 1px solid #888;
    background:-webkit-linear-gradient(top,#d8d8d8,#ffffff);
}
.bmw-require table tr td:nth-child(3) {
    width: 300px;
    color: #626262;
    border-right: 1px solid #888;
    background:-webkit-linear-gradient(top,#d8d8d8,#ffffff);
}
.bmw-require table tr td:first-child{
    position: relative;
    width: 12.5%;
    color: #d8d8d8;
    padding-bottom: 0;
    background:-webkit-linear-gradient(top,#45414e,#232323);
}
.bmw-require table tr td:first-child img{
    position: absolute;
    top: 3px;
    right: 28px;
    width: 70px;
}
.bmw-require table tr:first-child td{
    /*color: #d8d8d8;*/
    background:-webkit-linear-gradient(top,#2b0000,#5f0000);
}
.bmw-require table tr:first-child td:nth-child(2){
    width: 800px;
    color: #d8d8d8;
}
.bmw-require table tr td:last-child{
    border-right:0;
}
/*VIP享受福利*/
.bmw-welfare table td{
    width: 125px;
    height: 85px;
    background:-webkit-linear-gradient(top,#d8d8d8,#ffffff);
    color: #626262;
}
.bmw-welfare table tr:first-child td{
    background:-webkit-linear-gradient(top,#2b0000,#5f0000);
    color: #d8d8d8;
}
/*晋级规则*/
.bmw-rules ol{
    padding-left: 20px;
}
.bmw-rules ol li{
    color: #d3d3d3;
    margin-bottom: 5px;
}
.welfare-b table tr:first-child td:not(:first-child){
    position: relative;
    vertical-align: bottom;
}
.welfare-b table tr:first-child td:not(:first-child) img{
    position: absolute;
    top: 3px;
    right: 27px;
    width: 70px;;
}